html {
  scroll-behavior: smooth;
}

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
}

/* Header styles */
header {
  background: url('path-to-your-header-image.jpg') no-repeat center center/cover;
  color: #ffffff;
  text-align: center;
  padding: 60px 20px;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header::after {
  content: "";
  background: rgba(0, 0, 0, 0.6); /* Adding a dark overlay */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  position: relative;
  z-index: 1;
}

header p {
  margin: 10px 0 20px;
  font-size: 1.2em;
  position: relative;
  z-index: 1;
}

/* Navbar styles */
nav {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
  position: relative;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #00aaff;
}

.social-links {
  margin-top: 15px;
  position: relative;
  z-index: 1;
}

.social-links a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #00aaff;
}

/* Fixed nav styles */
.fixed-nav #navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
  z-index: 1000;
}

body.fixed-nav main {
  padding-top: 60px; /* Adjust based on your header height */
}

/* Back to top button styles */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #00aaff;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  display: none; /* Hidden by default */
  transition: background-color 0.3s;
}

.back-to-top:hover {
  background-color: #0088cc;
}

.material-icons {
  font-size: 24px;
}

/* Main content styles */
main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

section {
  margin-top: 50%;
  min-height: 100vh; /* Ensure each section is full viewport height */
  align-content: center;
  justify-content: center;
}

section h2 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 2px solid #00aaff;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

/* About Me Section */
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content img {
  border-radius: 50%;
  width: 25%;
  height: 25%;
  margin-bottom: 20px;
}

/* Projects Section */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.project, .experience, .education {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project h3, .experience h3, .education h3 {
  margin-top: 0;
}

.project p, .experience p, .education p {
  margin: 5px 0;
}

/* Contact Section */
#contact p {
  margin-bottom: 10px;
}

#contact a {
  color: #00aaff;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333333;
}

footer p {
  margin: 0;
}
