
/* Cores: 
azui escuro: #1b105f #0f054c #23196f 
roxo: #352786 #4b3e96 #cac9f9 
azul-verde: #43f5e8 #2f92aa #297094 */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box; 
}

body {
    width: 100vw;
    height: 100vh;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 40px;
}

nav .menu {
    position: absolute;
    left: 0;
    padding: 20px;
    margin-left: 40px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    display: flex;
    transition: 1s;
    margin-right: 20px;
}

nav ul a {
    color: #cac9f9;
    padding: 10px;
    text-decoration: none;
}

header {
    width: 100vw;
    height: 100%;
    min-height: 420px;
    background: url("./img/banner-2.jpg") no-repeat 50% 50%;
    background-size: cover;
}

header, .content {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #cac9f9;
}

#about, #works, footer {
    width: 100vw;
    min-height: 420px;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;   
}

.skills {
    width: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#about {
    background: #160d53;
}

#works {
    background: #1a115e;
}

#about h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.about-me img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

#works h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.skill {
    width: 80px;
    height: 100px;
    min-width: 80px;
    min-height: 100px;
    color: #cac9f9;
    background: #297094;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.first, .photo {
    background: #352786;
}

.photo {
    width: 140px;
    height: 160px;
    margin: 10px;
}

.text {
    margin: 20px;
}

footer {
    width: 100%;
   /* position: absolute;
    bottom: 0;
    */
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
    background: #160d53;
}

button {
    cursor: pointer;
}
