html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}


.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 40px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    display: none;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    padding-right: 32px;
    transition: 1s;
}

li:hover {
    background-color: #001;
}

nav ul li {
    display: inline-block;
    padding: 16px 30px;
}

nav ul li a {
    text-decoration: none;
    color: #008;
    font-size: 20px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: center;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}